.c-table {
    margin-top: 3rem;
    thead {
        tr {
            th {
                text-align: center;
            }
        }
    }
    tbody {
        tr {
            td {
                text-align: center;
                width: 20%;
                &:first-child {
                    width: 5%;
                }
                &:nth-child(3) {
                    text-align: left;
                }
                img {
                    width: 20%;
                    object-fit: cover;
                    margin: 0 auto;
                }
                button {
                    background-color: transparent;
                    padding: 0.2rem 0.5rem;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}
